<script type="x/template" id="vue-graduated-prices">
    <div>
        <div class="my-3" v-if="graduatedPrices[0]">
            <b>Preisvorteil:</b>

            <table class="graduated-prices-table text-muted">
                <tr v-for="(price, index) in graduatedPrices">
                    <td>ab Bestellmenge ${ price.minimumOrderQuantity }</td>
                    <td>
                        <span style="color:#c00418;">je ${ price.unitPrice.formatted }</span>
                        <transition name="fade">
                            <i class="fa fa-lg fa-check-circle-o ml-3" v-if="index === activeGraduationIndex" aria-hidden="true"></i>
                        </transition>
                    </td>
                </tr>
            </table>

            <hr>

        </div>
    </div>
</script>
