{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row mt-5 position-relative">

                <div class="col-md-7">
                    <slot name="ImageCarousel"></slot>
                </div>

                <div class="col-md-5 single-rightside">
                    {% include "CeresCoconut::Item.Components.SingleItem.SingleItem_Details" %}
                </div>

                <div class="col-md-7">
                    {% include "CeresCoconut::Item.Components.SingleItem.SingleItem_InformationTable" %}
                </div>
            </div>

            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>
    </div>
    <!-- Groessen-Check -->
    <div id="groessen-modal-wrapper">
        <div class="modal fade" id="Groessen-check" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h3">Hiermit kannst du deine ben&ouml;tigte Gr&ouml;&szlig;e ermitteln:</div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p> irgend ein Inhalt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Groessen-Check -->
</script>
