<div class="mb-5">
                <a href="/filialen/unternehmen/covid-19">
                <img style="width:100%;border:1px solid green;"
                src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/motiv-banner-gruen-selbstabholung_paketzustellung.jpg">
              </a>
</div>
