<div class="widget widget-image-carousel widget-primary widget-proportional prop-xs-3-1 mt-5">
  <div class="widget-inner carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/filialen/unternehmen/covid-19">
          <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/motiv-banner-gruen-selbstabholung_paketzustellung.jpg" alt="Fahrrad" title="Fahrrad" class="img-cover">
        </a>
      </div>
    </div>
  </div>
</div>
