<div class="widget widget-image-carousel widget-primary widget-proportional prop-xs-3-1 mt-5">
  <div id="image-carousel_5e7c94f0e752f" data-ride="carousel" class="widget-inner carousel slide">
    <div role="listbox" class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://shop.intersport-kloepping.de/themenwelten/fahrrad/woom">
        <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/Woom-Banner_Endfassung.jpg"  alt="Woom Kinderr채der online kaufen" title="Woom Kinderr채der online kaufen" class="img-cover">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/filialen/unternehmen/covid-19">
          <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/motiv-banner-gruen-selbstabholung_paketzustellung.jpg" alt="Fahrrad" title="Fahrrad" class="img-cover">
        </a>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#image-carousel_5e7c94f0e752f" data-slide-to="0" class="active"></li>
      <li data-target="#image-carousel_5e7c94f0e752f" data-slide-to="1" class=""></li>
    </ol>
    <a href="#image-carousel_5e7c94f0e752f" role="button" data-slide="prev" class="left carousel-control carousel-control-prev">
      <span aria-hidden="true" class="fa fa-chevron-left"></span>
      <span class="sr-only">Zur체ck</span></a>
      <a href="#image-carousel_5e7c94f0e752f" role="button" data-slide="next" class="right carousel-control carousel-control-next">
        <span aria-hidden="true" class="fa fa-chevron-right"></span>
        <span class="sr-only">N채chste</span>
      </a>
    </div>
  </div>
