<!-- ITEM DESCRIPTION -->
<div class="my-5">
    <ul class="nav nav-tabs" role="tablist">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <li class="nav-item" v-if="isDescriptionTabActive">
                <a class="nav-link active" data-toggle="tab" :href="'#details-' +  currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemDescription") }}</a>
            </li>
        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <li class="nav-item" v-if="isTechnicalDataTabActive">
                <a :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" :href="'#data-' + currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemTechnicalData") }}</a>
            </li>
        {% endif %}

        <li class="nav-item d-none">
            <a :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" href="#assessments-details" role="tab">{{ trans("Ceres::Template.singleItemMoreDetails") }}</a>
        </li>

        <slot name="AddDetailTabs"></slot>
    </ul>

    <div class="tab-content">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <div class="tab-pane active overflow-auto" :id="'details-' + currentVariation.variation.id" role="tabpanel" v-if="isDescriptionTabActive">
                <div class="my-4" v-html="currentVariation.texts.description">
                </div>
                <hr>
                <div class="row m-0">
                  <div class="col-12 col-lg-6">
                    <div class="row m-0">
                      <div class="col-3"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/fahrrad_testen.svg" class="m-2" style="max-height: 40px;"></div>
                      <div class="col-8 p-0">Dieses Modell kannst du auch in unseren Filialen testen!</div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="row m-0">
                      <div class="col-3"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/fahrrad_testen.svg" class="m-2" style="max-height: 40px;"></div>
                      <div class="col-8 p-0">Dieses Modell wird für dich fahrbereit montiert, neu verpackt und stehend versendet!</div>
                    </div>
                  </div>
                </div>
            </div>
        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <div :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="tab-pane" :id="'data-' + currentVariation.variation.id" role="tabpanel" v-if="isTechnicalDataTabActive">
                <div class="my-4" v-html="currentVariation.texts.technicalData">
                </div>
            </div>
        {% endif %}



        <slot name="AddDetailTabsContent"></slot>
    </div>
</div>
<!-- ./ITEM DESCRIPTION -->
