{{ component( "CeresCoconut::Customer.Components.Contact.ContactForm-ItemRueckruf" ) }}

    <div class="page-content container-max contact">
      <p>Test in SingleItem_Rueckruf.twig</p>
        <contact-form template="#vue-contact-form"></contact-form>
    </div>
