<!-- ITEM DESCRIPTION -->
<div class="my-5">
    <ul class="nav nav-tabs" role="tablist">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <li class="nav-item" v-if="isDescriptionTabActive">
                <a class="nav-link active" data-toggle="tab" :href="'#details-' +  currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemDescription") }}</a>
            </li>
        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <li class="nav-item" v-if="isTechnicalDataTabActive">
                <a :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" :href="'#data-' + currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemTechnicalData") }}</a>
            </li>
        {% endif %}

        <li class="nav-item d-none">
            <a :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" href="#assessments-details" role="tab">{{ trans("Ceres::Template.singleItemMoreDetails") }}</a>
        </li>

        <slot name="AddDetailTabs"></slot>
    </ul>

    <div class="tab-content">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <div class="tab-pane active overflow-auto" :id="'details-' + currentVariation.variation.id" role="tabpanel" v-if="isDescriptionTabActive">
                <div class="my-4" v-html="currentVariation.texts.description">
                </div>
                <div v-if="currentVariation.ids.categories.all[1] == 429 && currentVariation.item.manufacturer.name != 'woom'" class="row m-0 border-top p-0 pt-3 no-print">
                  <div class="col-12 col-lg-6 p-0">
                    <div class="row m-0">
                      <div class="col-5 text-center"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/fahrrad_testen.svg" class="m-2" style="height: 65px;"></div>
                      <div class="col-7 p-0">Dieses Modell kannst du auch in unseren Filialen testen!</div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 p-0">
                    <div class="row m-0">
                      <div class="col-5 text-center"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/montage.svg" class="m-2" style="height: 65px;"></div>
                      <div class="col-7 p-0">Dieses Modell wird für dich fahrbereit montiert, neu verpackt und stehend versendet!</div>
                    </div>
                  </div>
                  <div class="col-12 mt-4 pt-4 border-top p-0">
                    <h4>Was ist in der Packung?</h4>

                      &bull; dein Fahrrad, bereits montiert und vollständig überprüft<br>
                      &bull; eine Bedienungsanleitung mit vielen Tipps zur Pflege und Handhabung<br>
                        <span class="d-none">&bull; ein 15mm Maulschlüssel zum festziehen der Pedale (Starter-Kit Werkzeug)<br></span>
                      <span class="d-none">&bull; ein 3-fach Inbusschlüssel in 4mm, 5mm und 6mm für die Ausrichtung und Verstellen des Lenkers (Starter-Kit Werkzeug)</span><br>
                      &bull; eine Anleitung zur Montage der Pedalen und des Lenkers<br>
                      &bull; optionales Zubehör, je nach Fahrradtyp (z.B. Ladegerät für Akkus)<br>
                      <hr>



                          <h4 class="mt-4">In 5 Minuten ist dein Fahrrad fahrbereit!</h4>
                          <p>&bull; Fahrrad auspacken<br>
                            &bull; Pedalen einschrauben und festziehen<br>
                            &bull; Lenker ausrichten und los geht's!<br><br>
                            Unser Werkstatt-Team hat für dich bereits alle technisch notwendigen Schritte am Fahrrad durchgeführt.
                             Wir fahren <span class="font-weight-bold">jedes</span> Fahrrad nach der Montage probe und stellen Bremsen und Schaltung sowie Luftdruck sorgfältig ein.
                          </p>




                  </div>

                </div>
            </div>

        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <div :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="tab-pane" :id="'data-' + currentVariation.variation.id" role="tabpanel" v-if="isTechnicalDataTabActive">
                <div class="my-4" v-html="currentVariation.texts.technicalData">
                </div>
            </div>
        {% endif %}



        <slot name="AddDetailTabsContent"></slot>
    </div>
</div>
<!-- ./ITEM DESCRIPTION -->
