{{ component( "CeresCoconut::Customer.Components.Contact.ContactForm-ItemRueckruf" ) }}

    <div class="page-content container-max contact">
        <contact-form template="#vue-contact-form"></contact-form>
    </div>
