<!-- leer !-->
<p>nur verknüpft</p>

{{ component( "CeresCoconut::Customer.Components.Contact.ContactForm-Item" ) }}

    <div class="page-content container-max contact">
        <contact-form template="#vue-contact-form"></contact-form>
    </div>
