<div class="container-max mkt-homepage">
    <div class="row">
        <div class="col-lg-12 mt-4">
            <h1 class="my-2" id="recommend-text">Hier bist du richtig!</h1>
        </div>
    </div>
    <hr class="my-1 border-50">
</div>
    <div class="welcome-wrapper">
      <div class="container-max">
        <div class="row">
          <div class="col-6">
            <div class="start-link">
              <a href="https://shop.intersport-kloepping.de/sport/">
                <p>Sport &<br>Ausrüstung</p>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div class="start-link">
              <a href="https://shop.intersport-kloepping.de/fahrrad/">
                <p>Fahrrad &<br>Zubehör</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
