<div class="container-max mkt-homepage">
    <div class="row">
        <div class="col-lg-12 mt-4">
            <h1 class="my-2" id="recommend-text">Hier bist du richtig!</h1>
        </div>
    </div>
    <hr class="my-1 border-50">
</div>
    <div class="welcome-wrapper">
      <div class="container-max">
        <div class="row">
          <div class="col-6">
            <a href="" >
              <div class="start-link">

                <p>Sport &<br>Ausrüstung</p>

              </div>
            </a>
          </div>
          <div class="col-6">
            <a href="" >
              <div class="start-link">

                <p>Fahrrad &<br>Zubehör</p>

              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
