<div class="container-max mkt-homepage">
    <div class="row">
        <div class="col-lg-12 mt-4">
            <h1 class="my-2" id="recommend-text">Hier bist du richtig!</h1>
        </div>
    </div>
    <hr class="my-1 border-50">
</div>
    <div class="welcome-wrapper">
      <div class="container-max">
        <div class="row">
          <div class="col-6">
            <div class="start-link">
              <a href="https://shop.intersport-kloepping.de/themenwelten/sport">
                <p>Sport &amp;<br>Ausr&uuml;stung</p>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div class="start-link">
              <a href="https://shop.intersport-kloepping.de/themenwelten/fahrrad">
                <p>Fahrr&auml;der &amp;<br>Zubeh&ouml;r</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container-max mkt-homepage">
    <div class="row">
      <div class="col-12 mt-4">
        <h2 class="text-center">Sportartikel, Fahrr&auml;der und Zubeh&ouml;r im Onlineshop von Intersport Kl&ouml;pping</h2>
        <hr class="border-50 mb-4">
        <p>Gegr&uuml;ndet im Jahr 1990, hat sich die Firma Intersport Kl&ouml;pping zu einem der gr&ouml;&szlig;ten Anbieter f&uuml;r Sport, Fahrrad und Kleidung in der Region zwischen Elbaue und Fl&auml;ming entwickelt.
          In zwei Filialen mit insgesamt 4000m² und im Onlineshop begeistern wir unsere Kunden mit den trendigsten Marken und innovativsten Produkten. Unser Team aus dem Verkauf, der Werkstatt
          sowie der Online-Abteilung beraten dich gern und helfen jederzeit weiter.
        </p>
      </div>
      <div class="col">
        <div class="col-12">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="img-kachel">
                  <a href="https://shop.intersport-kloepping.de/sport/running?facets=120">
                  <div class="img-kachel-wrapper" style="position:relative;">
                  <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/bild_1.jpg"
                  style="position: absolute;
                  top: -9999px;
                  right: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  margin: auto;">
                  </div>
                  <p><span class="h3">Brooks</span><br>
                    Brooks Laufschuhe jetzt bei uns im Shop.
                  </p>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="img-kachel">
                  <a href="https://shop.intersport-kloepping.de/sport/outdoor">
                  <div class="img-kachel-wrapper" style="position:relative;">
                  <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/bild_2.jpg"
                  style="position: absolute;
                  top: -9999px;
                  right: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  margin: auto;">
                  </div>
                  <p><span class="h3">Ausr&uuml;stung f&uuml;r Draussen</span><br>
                    Mach' dich bereit für dein n&auml;chstes Outdoor-Abenteuer!
                  </p>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="img-kachel">
                  <a href="https://shop.intersport-kloepping.de/fahrrad/e-bikes/city-e-bike">
                  <div class="img-kachel-wrapper" style="position:relative;">
                  <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/bild_3.jpg"
                  style="position: absolute;
                  top: -9999px;
                  right: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  margin: auto;">
                  </div>
                  <p><span class="h3">Komfort E-Bikes</span><br>
                    Hier findest du unser komplettes City E-Bike Sortiment!
                  </p>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="img-kachel">
                  <a href="https://shop.intersport-kloepping.de/fahrrad/fahrradzubehoer/koerbe-halter">
                  <div class="img-kachel-wrapper" style="position:relative;">
                  <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/bild_4.jpg"
                  style="position: absolute;
                  top: -9999px;
                  right: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  margin: auto;">
                  </div>
                  <p><span class="h3">Praktisches Zubeh&ouml;r</span><br>
                    Ob Fahrradkorb in Rattan-Optik oder Packtasche, hier wirst du f&uuml;ndig!
                  </p>
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
        <hr class="my-1 mb-5 border-50">
    </div>
