body {
  font-family: Custom-Font, Helvetica, Arial, sans-serif;
  background-color: #fff;
}

/* Farben definieren 2019 */

body > #vue-app, body > #vue-error {
  background-color: #fff;
}

.page-content {
    background-color: #fff;
  }

.grey-bright {
  background-color: #f9f9f9;
  color: #666;
}
.grey-mid {
  background-color: #f0f0f0;
}
.grey-dark, .grey-dark-mobile {
  background-color: #54585B;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#61686c+0,47494b+100 */
	background: #61686c; /* Old browsers */
	background: -moz-linear-gradient(top, #61686c 0%, #47494b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #61686c 0%,#47494b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #61686c 0%,#47494b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61686c', endColorstr='#47494b',GradientType=0 ); /* IE6-9 */
  color: #fff;
}

@media (max-width:991.98px) {
  .grey-bright {
    background-color: #f9f9f9;
    color: #666;
  }
  .grey-mid {
    background-color: #f0f0f0;
  }
  .grey-dark {
    background-color: #efefef;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#61686c+0,47494b+100 */
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #dfdfdf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #efefef 0%,#dfdfdf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #efefef 0%,#dfdfdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
  color: #fff;
  }
}

/*hr elemente dunkel falls .grey-dark */
div.grey-dark hr, div.grey-dark-mobile hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #444;
}

.border-top-red {
  border-top: 2px solid #e30000;
}
.border-bottom-red {
  border-bottom: 2px solid #e30000;
}
/* einheitliche Höhen falls benötigt */
.lh-2 {
  min-height:40px;
}
.lh-1  {
  min-height: 20px;
}
.lh-075  {
  min-height: 15px;
}
.lh-05  {
  min-height: 10px;
}
.lh-025  {
  min-height: 5px;
}
.padding-y-1 {padding: 0.7rem 0;}
.padding-y-075 {padding: 0.5rem 0;}
.padding-y-05 {padding: 0.3rem 0;}
.padding-y-025 {padding: 0.1rem 0;}

/* Reset einiger Werte */
.no-padding { padding:0;}
.no-margin {margin:0;}

@media (min-width: 576px) {
  .no-padding-xs-up { padding:0;}
}


/*ELEMENTE*/

.pollebutton p {
  margin: 0px;
  padding: 5px;
  background-color: #ffffff;
  font-size: 1.4em;
  font-weight: 400;
  line-height:  40px;
  border: 2px solid #c00418;
  clear: both;
  color: #c00418;
}

/* Bereich Header */
.header-top-scroll {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.top-bar {
 width:100%;
 z-index:1060;
 color:#666;
 background-color:#f9f9f9 !important;
}
.top-bar .controls-list > li a:not(.btn):hover {
  background-color: #f9f9f9;
  color: #c00418;
}
.top-bar .controls-list .control-basket .toggle-basket-preview {
 background-color:#f9f9f9;
 color:#666
}
.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
 background-color:#f9f9f9;
}
.top-bar .controls-list > li a:not(.btn) {
    color: #666;
}

.top-bar .controls-list .control-user {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;  /* Verbesserung Anordnung oben rechts */
}
.top-bar .controls-list .control-languages a[aria-expanded="true"], .top-bar .controls-list .control-search a[aria-expanded="true"] {
    background: #f0f0f0;
}
.cmp-search-box {
    background-color: transparent;
    width: 100%;
}
/* Sucheingabe etwas zentriert mit lineheight */
.cmp-search-box .search-input {
    line-height: 1.1;
}
/* Suche collapse mobile auto show lg */
@media (min-width:991.98px){
  #searchBox.collapse  {
    display: block !important;
  }
}

/* Megamenu */
.wrapper-main .navbar {
    font-family: Custom-Font,Helvetica,Arial,sans-serif;
    border-bottom: 0px solid #efefef;
}

#mainNavbarCollapsable ul.mainmenu {
  color: #f0f0f0;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu {
  justify-content: center;
}
li.mainddown {
  width: 25%;
  font-size: 18px;
}
.no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li:hover{
  color: #fff !important;
}
#mainNavbarCollapsable ul.mainmenu > li a {
  padding: 10px 0 10px 0;
}
#mainNavbarCollapsable ul.mainmenu > li > ul {
  box-sizing: content-box;
  border-left: 500px solid #fff;
  margin-left: -500px;
  border-right: 500px solid #fff;
  padding: 20px 0 20px 0;
  height: 450px;
  max-height: 450px;
}
#mainNavbarCollapsable ul.mainmenu > li.ddown > a:after {
    content: none; /*Pfeil unten aus*/
  }
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse li {
  display: inline-block ; /*list-item*/
  line-height: 25px;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li.level1 {
  font-weight: 300;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 0 0 0 20px;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li.level1:hover {
  background-color: #f9f9f9;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner:last-of-type > li.level1:hover {
  background-color: transparent;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li.level2 {
  font-size: 12px;
  padding: 0 0 0 20px;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li.level2:hover {
  background-color: #f9f9f9;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li.linepart {
  padding: 0 0 0 20px;
  margin: 5px 0 -10px 0;
  width: 80%;
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li > hr {
  border-top: 1px solid #dfdfdf;
  }
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {
     background-color: #fff;
     column-gap: .5em;
     column-rule: 1px solid #efefef;
     display: none;
     padding: 1em 0;
     min-height: 7em;
     max-height: 86vh;
     column-count: 6;
     overflow-x: auto;
     overflow-y: hidden;
     column-fill: balance;
   }

   .li-bannerwerbung-oben {
    width: 330px;
    overflow: hidden;
    }
   .li-bannerwerbung-unten {
     width: 330px;
     overflow: hidden;
    }
   .bild-wrapper-oben {
     height: 200px;
     overflow: hidden;
   }
   .li-bannerwerbung-oben img {
    width: 330px;
    transition: all 400ms;
    }
.bild-wrapper-unten {
    height: 120px;
    overflow: hidden;
    }
.li-bannerwerbung-oben img:hover {
    position: relative;
    transform:scale(1.1);
    transition: all 400ms;
    }
.li-bannerwerbung-unten img {
    width: 330px;
    position: relative;
    transition: all 400ms;
    }
.li-bannerwerbung-unten img:hover {
    position: relative;
    transform:scale(1.1);
    transition: all 400ms;
    }
.li-bannerwerbung-oben p ,
.li-bannerwerbung-unten p {
     margin-top: -2px;
     width: 100%;
     padding: 5px;
     text-align: center;
     font-size: 12px;
     color: #444;
     background-color: #f0f0f0;
    }

/*ENDE Megamenu*/

/*Footer*/
.footerList {
	padding-left: 0;
	list-style: none;
  font-size: 12px;
  line-height: 24px;
  color: #f0f0f0;
}

.footerList a {
	color: #f0f0f0;
}
.footerList a:hover {
	text-decoration: underline;
}

/* START Kategorie */

.parallax-img-container {
  height: 320px;
  max-width: none;
  position: relative;
  width: 100%;

}

@media (min-width: 1200px) {
  .parallax-img-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.parallax-img-container .parallax-img-container-inner[style^='background-image'] {
  height: 320px;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top center;
    border-bottom: 2px solid #c00418;
}

/* Filter Panel */
.list-controls .filter-toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 0.5em;
    color: #c00418;
    font-size: 18px;
}

.list-controls .list-controls-inner {
    padding: 5px;
}

.list-controls #filterCollapse {
    background: #f3f3f3;
    box-sizing: content-box;
    border-left: 500px solid #f3f3f3;
    margin-left: -500px;
    border-right: 500px solid #f3f3f3;
    margin-top: 5px;
  box-shadow: 10px -2px 5px rgba(20,20,20,0.1);
}

.list-controls #filterCollapse .page-content {
    background-color: #f3f3f3;
  border: 0px;
  margin: 5px 0 0 0;
}

.form-check {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    margin-bottom: 2px; }

.card-columns .card {
    margin-bottom: 30px;
}

.list-controls #filterCollapse .page-content .card .form-check .form-check-label {
  padding: 0.3rem 0;
}

@media (max-width:576px) {
.list-sort {
  width:70%;
  }

.list-itemsperpage {
  width:70%;
  }
}
/*seitliche Navigation*/

.sidebar-categories {
    background: #fff;
    font-family: Custom-Font,Helvetica,Arial,sans-serif;
  border-right: 1px solid #efefef;
}

.sidebar-categories .category-title {
    background: #fff;
    padding: 0px 15px 10px 15px;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.sidebar-categories .category-title::after {
    content: '';
    display: none;
    margin: 5px auto;
    width: 80%;
    border-bottom: 1px solid #666;
}


.sidebar-categories ul li.active > a {
    background: #fff;
    color: #c00418;
  font-weight: 800;
}

.sidebar-categories ul li {
  line-height: 10px;
}

.sidebar-categories ul li a {
    display: block;
    color: #4D4F4D;
    padding: 0.75rem 15px;
        padding-left: 15px;
    font-size: 16px;
    cursor: pointer;
  transition: all 0.8s ease;
}

.sidebar-categories ul li a:hover {
    color: #c00418;
    background: #fff;
  margin-left: 5px;
    transition: all 0.2s ease;
  }

.sidebar-categories>ul>li>a.nav-link:first-child {
  font-size: 18px;
}

.sidebar-categories>ul>li>ul>li>a.nav-link:first-child {
  font-size: 16px;
}

/* Artikel Listenansicht */

.cmp-product-thumb .crossprice {
    font-size: 1.0em;
    font-weight: 800;
    padding: 0 7px 0 7px;
    margin: 0 0 5px 0;
    color: #c00418;
}

.cmp-product-thumb .price {
    color: #666;
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.3rem;
    min-height: 21px;
}
