/* Farben definieren 2019 */
.grey-bright {
  background-color: #f9f9f9;
  color: #666;
}
.grey-mid {
  background-color: #f0f0f0;
}
.grey-dark {
  background-color: #515151;
  color: #f9f9f9;
}

/* einheitliche Höhen falls benötigt */
.lh-2 {
  min-height:40px;
}
.lh-1  {
  min-height: 20px;
}
.lh-075  {
  min-height: 15px;
}
.lh-05  {
  min-height: 10px;
}
.lh-025  {
  min-height: 5px;
}

/* Reset einiger Werte */
.no-padding { padding:0;}
.no-margin {margin:0;}

@media (min-width: 576px) {
  .no-padding-xs-up { padding:0;}
}
/* Bereich Header */
.top-bar {
 width:100%;
 z-index:1060;
 color:#666;
 background-color:#f9f9f9 !important;
}
.top-bar .controls-list > li a:not(.btn):hover {
  background-color: #f9f9f9;
  color: #c00418;
}
.top-bar .controls-list .control-basket .toggle-basket-preview {
 background-color:#f9f9f9;
 color:#666
}
.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
 background-color:#f9f9f9;
}
.top-bar .controls-list > li a:not(.btn) {
    color: #666;
}
.cmp-search-box {
    background-color: transparent;
    width: 100%;
}
