{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title "404" %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

<div class="container-max">
  <p>Inhalt Test</p>
</div>

{% endblock %}
