{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title "404" %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    <div class="container-max page-content page-not-found">
        <div class="row">
            <div class="col-12">
                <div class="m-5">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="display-3">Seite wurde nicht gefunden.</h1>
                            <hr class="my-4">
                            <p class="lead">Die von dir aufgerufene Seite wurde nicht gefunden.<br><br>
                            Stöbere auf unserer Startseite nach Produkten:<br>
                            <span class="text-bold"><a href="{{ homepageURL }}" role="button"><i class="fa fa-home" aria-hidden="true"></i> Zur Startseite</a></span>
                          </p>
                            <hr class="my-4">
                            <p class="lead">Hilf uns, unsere Seite besser zum machen und melde uns den Fehler. Vielen Dank!<br>
                            <span class="text-bold"><i class="fa fa-phone" aria-hidden="true"></i> Telefon: 0 34 91 - 45 90 129</span><br>
                            <i class="fa fa-envelope" aria-hidden="true"></i><a href="{{ urls.contact }}"> zum Kontaktformular</a>
                          </p>
                        </div>
                        <div class="col-md-6 text-md-right not-found-text">
                            404
                        </div>
                    </div>
                </div>

                {{ LayoutContainer.show("CeresCoconut::StaticPages.PageNotFound") }}

            </div>
        </div>
    </div>

{% endblock %}
