<script type="x/template" id="vue-item-filter">
    <div v-if="facet.name" class="card">
        <a data-toggle="collapse" :href="'#' + facetName" class="h3 filter-h3">
        <i aria-hidden="true" class="fa fa-angle-down default-float"></i>
        ${ facetName }</a>
        <div v-if="facet.type === 'price'">
            <item-filter-price></item-filter-price>
        </div>
        <div :id="facetName" class="collapse" v-else>
            <div class="form-check" v-for="value in facets" :key="value.id">
                <input :id="'option-' + value.id" class="form-check-input d-none" type="checkbox" :checked="isSelected(value.id)" @change="updateFacet(value)" :disabled="isLoading || value.count <= 0">
                <label :for="'option-' + value.id" class="form-check-label">
                    ${ value.name }
                </label>
                <div class="filter-badge">${ value.count }</div>
            </div>
        </div>
   </div>
</script>
