<!-- Info-Container Corona  -->
<div class="grey-mid mt-4 pt-3 no-print">
<div class="container-max">
  <div class="row">
    <div class="col-sm-12 col-md-3 px-3 px-lg-5 mb-4">
      <h3 class="text-center my-4">Versand & Lieferung</h3>
      <hr class="border-50">
      <p class="text-center">Sie erhalten Ihre Ware in der Regel innerhalb von 3&nbsp;Werktagen.<br> F&uuml;r Fahrr&auml;der betr&auml;gt die Lieferzeit ca.&nbsp;5&nbsp;Werktage<br>
        Ab 25,- &euro; Warenwert versenden wir gratis mit DPD!</span>
      </p>
      <ul class="image-list">
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/dpd_logo.png" alt="DPD" title="schneller Versand mit DPD"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/dhl-gelb.png" alt="DHL" title="schneller Versand mit DHL"></li>
				<li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/IDS-Spedition-Logo.png" alt="IDS" title="Fahrrad Versand mit IDS Spedition"></li>
		  </ul>
    </div>
    <div class="col-sm-12 col-md-3 px-3 px-lg-5 mb-4">
      <h3 class="text-center my-4">Fragen zum Produkt?</h3>
      <hr class="border-50">
      <p class="text-center">F&uuml;r Fragen stehen wir Ihnen jederzeit zur Verf&uuml;gung. Sie erreichen uns von Montag bis Freitag zwischen 9.30&nbsp;Uhr und 18.30&nbsp;Uhr.<br><br>
        <span class="small font-weight-bold" style="color: #a1000c;">
	         <i aria-hidden="true" class="fa fa-envelope"></i>&nbsp;&nbsp;verkauf@intersport-kloepping.de<br>
	         <i aria-hidden="true" class="fa fa-phone"></i>&nbsp;&nbsp;Tel. 0 34 91 / 45 90 121</span>
      </p>
    </div>
    <div class="col-sm-12 col-md-3 px-3 px-lg-5 mb-4 text-center">
      <h3 class="text-center my-4">Zahlungsm&ouml;glichkeiten</h3>
      <hr class="border-50">
      <ul class="image-list">
        <li class="font-weight-bold">Rechnung</li>
        <li class="font-weight-bold">Vorkasse</li>
        <li class="font-weight-bold">Ratenzahlung*</li>
				<li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/klarna_logo.png" alt="Klarna" title="Klarna"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/de-pp-logo-150px.png" alt="Paypal" title="Paypal"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/paypal-plus-kombi-logos-ohne-flach.png" alt="Kreditkarte" title="Kreditkarte"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/jobrad_logo.png" alt="Jobrad-Leasing" title="Jobrad-Leasing"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/eurorad_logo.png" alt="Eurorad-Leasing" title="Eurorad-Leasing"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/businessbike_logo.png" alt="Businessbike-Leasing" title="Businessbike-Leasing"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/radelndemitarbeiter_logo.png" alt="Radelnde-Mitarbeiter-Leasing" title="Radelnde-Mitarbeiter-Leasing"></li>
			</ul>
    </div>
    <div class="col-sm-12 col-md-3 px-3 px-lg-5 mb-4 text-center">
      <h3 class="text-center my-4">Gepr&uuml;fte Endmontage</h3>
      <hr class="border-50">
      <div class="mt-4">
				<img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/Logo-ZEG-Qualitaetswerkstatt.png" alt="Logo ZEG Qualitätswerkstatt" title="Logo ZEG Qualitätswerkstatt">
      </div>
      <div class="mt-4">
        <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/Logo-Shimano-Service-Center.png" alt="Logo Shimano Service Center" title="Logo Shimano Service Center">
      </div>
    </div>
  </div>
</div>
</div>
