<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1 no-hover">Themenwelten</li>
        <li class="level2"><a href="/themenwelten/sport">Sport</a></li>
        <li class="level2"><a href="/themenwelten/fahrrad">Fahrrad</a></li>
        <li class="level2 d-none"><a href="/filialen/themenwelten/mode">Mode</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1 no-hover">Unternehmen</li>
        <li class="level2"><a href="/filialen/events">Events</a></li>
        <li class="level2" style="margin-bottom:100px;"><a href="/filialen/elb-lodge">Unser Café »Elb-Lodge«</a></li>
        <li class="level2 d-none"><a>Karriere & Praktikum</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1 no-hover">Service</li>
        <li class="level2"><a href="/filialen/service/leasing">Leasing</a></li>
        <li class="level2 d-none"><a>Werkstatt</a></li>
        <li class="level2 d-none"><a>Ski-Verleih</a></li>
        <li class="level2 d-none"><a>INTERSPORT Club</a></li>
        <li class="level2 d-none"><a>Geschenkgutschein</a></li>
      </ul>
  </li>
  <li>
    <ul class="nav-dropdown-inner">
      <li class="level1 no-hover">Filiale Wittenberg</li>
      <li class="level2 no-hover">
        Dresdener Str. 165<br>
        06886 Lutherstadt Wittenberg<br>
        Tel. 0 34 91 - 45 90 10<br><br>
        Öffnungszeiten:<br>
        &nbsp;&nbsp;9.30 – 18.30 Uhr (Mo – Fr)<br>
        10.00 – 15.00 Uhr (Sa)
      </li>

    </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1 no-hover">Filiale Jessen</li>
        <li class="level2 no-hover">
          Rosa-Luxemburg-Str. 65<br>
          06917 Jessen (Elster)<br>
          Tel. 0 35 37 - 21 37 47<br><br>
          Öffnungszeiten:<br>
          &nbsp;&nbsp;9.30 – 18.30 Uhr (Mo – Fr)<br>
          10.00 – 15.00 Uhr (Sa)
        </li>
      </ul>
  </li>

</ul>
