<ul data-level="1" id="navDropdown1" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/fahrrad/e-bikes">E-Bikes</a></li>
        <li class="level2"><a href="/fahrrad/e-bikes/city-e-bike">City E-Bikes</a></li>
        <li class="level2"><a href="/fahrrad/e-bikes/trekking-e-bike">Trekking E-Bikes</a></li>
        <li class="level2"><a href="/fahrrad/e-bikes/crosstrekking-e-bike">Crosstrekking E-Bikes</a></li>
        <li class="level2"><a href="/fahrrad/e-bikes/mountain-e-bike">Mountain E-Bikes</a></li>
        <li class="level2"><a href="/fahrrad/e-bikes/xl-e-bikes">XL E-Bikes</a></li>
        <li class="level2"><a href="/fahrrad/e-bikes/falt-kompakt-e-bikes">Falt-/ Kompakt E-Bikes</a></li>
        <li class="level2"><a href="/fahrrad/e-bikes/45-km-h-e-bikes">45 Km/h E-Bikes</a></li>
        <li class="level2 d-none"><a href="/fahrrad/fahrraeder/e-bikes/dreiraeder-e-bikes">E-Dreir&auml;der</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/fahrrad/fahrraeder">Fahrr&auml;der</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/city">City</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/lifestyle">Lifestyle</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/trekking">Trekking</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/crosstrekking">Crosstrekking</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/mountainbikes">Mountainbike</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/fitnessbikes-rennraeder">Fitnessbikes &amp; Rennr&auml;der</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/kinder-jugendfahrraeder">Kinder &amp; Jugendfahrr&auml;der</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/kinderlaufraeder">Kinderlaufr&auml;der</a></li>
        <li class="linepart"><hr></li>
        <li class="level1">Spezialfahrr&auml;der</li>
        <li class="level2"><a href="/fahrrad/fahrraeder/extra-grosse-fahrraeder">Extra große Fahrr&auml;der</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/faltraeder-kompaktraeder">Faltr&auml;der &amp; Kompaktfahrr&auml;der</a></li>
        <li class="level2"><a href="/fahrrad/fahrraeder/spezial-dreiraeder">Spezial-Dreir&auml;der</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/fahrrad/fahrradzubehoer">Fahrradzubeh&ouml;r</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/schloesser">Schl&ouml;sser</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/taschen">Taschen</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/koerbe-halter/korbhalter">K&ouml;rbe &amp; Halter</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/pumpen">Pumpen</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/computer">Computer</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/trinkflaschen-halter">Trinkflaschen &amp; Halter</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/fahrradwerkzeug">Werkzeuge &amp; Minitools</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/pflegemittel">Pflegemittel</a></li>
        <li class="level2 d-none"><a href="/fahrrad/fahrradzubehoer/klingeln">Klingeln</a></li>
        <li class="level2 d-none"><a href="/fahrrad/fahrradzubehoer/spiegel">Spiegel</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/smartphonezubehoer">Smartphonezubehör</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/kinderanhaenger">Kinderanh&auml;nger</a></li>
        <li class="level2"><a href="/fahrrad/fahrradzubehoer/fahrradtraeger">Fahrradtr&auml;ger</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/fahrrad/fahrradteile">Fahrradteile</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/beleuchtung">Beleuchtung</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/staender">St&auml;nder</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/schutzbleche">Schutzbleche</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/gepaecktraeger">Gep&auml;cktr&auml;ger</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/lenkergriffe">Lenkergriffe</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/lenker">Lenker</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/saettel">S&auml;ttel</a></li>
        <li class="level2 d-none"><a href="/fahrrad/fahrradteile/reifen">Reifen</a></li>
        <li class="level2"><a href="/fahrrad/fahrradteile/schlaeuche">Schl&auml;uche</a></li>
        <li class="linepart"><hr></li>
        <li class="level1"><a href="/fahrrad/bekleidung">Bekleidung</a></li>
        <li class="level2"><a href="/fahrrad/bekleidung/fahrradhelme">Helme</a></li>
        <li class="level2"><a  href="/fahrrad/bekleidung/handschuhe">Handschuhe</a></li>
        <li class="level2"><a  href="/fahrrad/bekleidung/funktionsbekleidung">Funktionsbekleidung</a></li>
        <li class="level2"><a  href="/fahrrad/bekleidung/fahrradschuhe">Fahrradschuhe</a></li>
      </ul>
  </li>
  <li>
    <ul class="nav-dropdown-inner">
      <li class="level1">
        <a href="/fahrrad/fahrraeder/kinder-jugendfahrraeder?facets=6">
          <div class="li-bannerwerbung-oben">
            <div class="bild-wrapper-oben">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/bulls_sharptail_junior_bike.jpg" style="position:relative;top:0px;">
          </div>
            <p>BULLS Bikes für Freizeit &amp; Schule</p>
          </div>
          </a>
            <a href="/fahrrad/fahrradteile/beleuchtung/akku-scheinwerfer">
          <div class="li-bannerwerbung-unten">
            <div class="bild-wrapper-unten">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/beleuchtung_cateye_fuxon.jpg" style="position:relative;top:-40px;">
          </div>
            <p class="mb-0">Beleuchtung mit Stra&szlig;enzulassung</p>
          </div>
            </a>
      </li>
    </ul>
  </li>
</ul>
