<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
          <li class="level1"><a href="/sport/fitness-training">Fitness & Training</a></li>
          <li class="level2"><a href="/sport/fitness-training/bekleidung">Bekleidung</a></li>
          <li class="level2"><a href="/sport/fitness-training/taschen">Taschen</a></li>
          <li class="level2"><a href="/sport/fitness-training/trinkflaschen">Trinkflaschen</a></li>
          <li class="level2"><a href="/sport/fitness-training/hanteln-gewichte">Hanteln & Gewichte</a></li>
          <li class="level2"><a href="/sport/fitness-training/fitnessmatten">Fitnessmatten</a></li>
          <li class="level2"><a href="/sport/fitness-training/fitnessbaender-zubehoer">Fitnessbänder & Zubehör</a></li>
          <li class="level2"><a href="/sport/fitness-training/gymnastikreifen-baelle">Gymnastikreifen & -bälle</a></li>
          <li class="level2"><a href="/sport/fitness-training/yogazubehoer">Yogazubehör</a></li>
          <li class="level2"><a href="/sport/fitness-training/springseile">Springseile</a></li>
          <li class="level2"><a href="/sport/fitness-training/fitnesshandschuhe">Fitnesshandschuhe</a></li>
          <li class="level2"><a href="/sport/fitness-training/faszienrollen">Faszienrollen</a></li>
        </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/running">Running</a></li>
        <li class="level2"><a href="/sport/running/laufschuhe">Laufschuhe</a></li>
        <li class="level2"><a href="/sport/running/laufbekleidung">Laufbekleidung</a></li>
        <li class="level2" style="margin-bottom:100px;"><a href="/sport/running/zubehoer">Zubehör</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/outdoor">Outdoor</a></li>
        <li class="level2"><a href="/sport/outdoor/outdoorbekleidung">Outdoorbekleidung</a></li>
        <li class="level2"><a href="/sport/outdoor/outdoorschuhe">Outdoorschuhe</a></li>
        <li class="level2"><a href="/sport/outdoor/rucksaecke">Rucksäcke</a></li>
        <li class="level2"><a href="/sport/outdoor/zelte">Zelte</a></li>
        <li class="level2"><a href="/sport/outdoor/schlafsaecke">Schlafsäcke</a></li>
        <li class="level2"><a href="/sport/outdoor/matten-matratzen">Matten & Matratzen</a></li>
        <li class="level2"><a href="/sport/outdoor/campingzubehoer">Campingzubehör</a></li>
        <li class="level2"><a href="/sport/outdoor/pflege">Pflege</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/wintersport">Wintersport</a></li>
        <li class="level2"><a href="/sport/wintersport/skibekleidung">Skibekleidung</a></li>
        <li class="level2"><a href="/sport/wintersport/alpinski">Alpinski</a></li>
        <li class="level2"><a href="/sport/wintersport/skistiefel">Skistiefel</a></li>
        <li class="level2"><a href="/sport/wintersport/skihelme">Skihelme</a></li>
        <li class="level2"><a href="/sport/wintersport/skibrillen">Skibrillen</a></li>
        <li class="level2"><a href="/sport/wintersport/skihandschuhe">Skihandschuhe</a></li>
        <li class="level2"><a href="/sport/wintersport/taschen">Taschen</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/wintersport/langlaufski">Langlaufski</a></li>
        <li class="level2"><a href="/sport/wintersport/langlaufschuhe">Langlaufschuhe</a></li>
        <li class="level2"><a href="/sport/wintersport/langlaufbindungen">Langlaufbindungen</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">
        <a href="/sport/outdoor/outdoorbekleidung/accessoires?facets=194">
          <div class="li-bannerwerbung-oben">
            <div class="bild-wrapper-oben">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/navbar-barts-2020.jpg"
            style="position:relative;top:10px;">
          </div>
            <p>Unkonventionelles Design, funktionelle Accessoires </p>
          </div>
        </a>
        <a href="/filialen/service/wanderschuhberatung" >
          <div class="li-bannerwerbung-unten">
            <div class="bild-wrapper-unten">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Content-Pages/Startseite/navbar-wanderschuhberatung-2020.jpg"
            style="position:relative;top:-5px;">
          </div>
            <p class="mb-0">Gut zu Fu&szlig; ins n&auml;chste Abenteuer!</p>
          </div>
          </a>
        </li>

      </ul>
  </li>
</ul>
