<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a>Themenwelten</a></li>
        <li class="level2"><a>Sport</a></li>
        <li class="level2"><a>Mode</a></li>
        <li class="level2"><a>Fahrrad</a></li>
        </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a>Unternehmen</a></li>
        <li class="level2"><a>Events</a></li>
        <li class="level2"><a>Elb-Lodge Café</a></li>
        <li class="level2"><a>Karriere</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a>Service</a></li>
        <li class="level2"><a>Gutscheinversand</a></li>
        <li class="level2"><a>Werkstatt Termine</a></li>
        <li class="level2"><a>Ski-Verleih</a></li>
        <li class="level2"><a>Intersport Club</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a>Filiale Jessen</a></li>

      </ul>
  </li>
  <li>
    <ul class="nav-dropdown-inner">
      <li class="level1"><a>Filiale Wittenberg</a></li>

    </ul>
  </li>
</ul>
