<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">Themenwelten</li>
        <li class="level2"><a>Sport</a></li>
        <li class="level2"><a>Fahrrad</a></li>
        <li class="level2"><a>Mode</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">Unternehmen</li>
        <li class="level2"><a href="/filialen/events">Events</a></li>
        <li class="level2"><a href="/filialen/elb-lodge">Unser Café »Elb-Lodge«</a></li>
        <li class="level2"><a>Karriere & Praktikum</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">Service</li>
        <li class="level2"><a href="/filialen/service/leasing">Leasing Fahrräder & E-Bikes</a></li>
        <li class="level2"><a>Werkstatt Fahrräder & E-Bikes</a></li>
        <li class="level2"><a>Ski-Verleih</a></li>
        <li class="level2"><a>INTERSPORT Club</a></li>
        <li class="level2"><a>Geschenkgutschein</a></li>
      </ul>
  </li>
  <li>
    <ul class="nav-dropdown-inner">
      <li class="level1">Filiale Wittenberg</li>
      <li class="level2">
        Dresdener Str. 165<br>
        06886 Lutherstadt Wittenberg<br>
        Tel. 0 34 91 - 45 90 10<br><br>
        Öffnungszeiten:<br>
        &nbsp;&nbsp;9.30 – 18.30 Uhr (Mo – Fr)<br>
        10.00 – 15.00 Uhr (Sa)
      </li>

    </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">Filiale Jessen</li>
        <li class="level2">
          Rosa-Luxemburg-Str. 65<br>
          06917 Jessen (Elster)<br>
          Tel. 0 35 37 - 21 37 47<br><br>
          Öffnungszeiten:<br>
          &nbsp;&nbsp;9.30 – 18.30 Uhr (Mo – Fr)<br>
          10.00 – 15.00 Uhr (Sa)
        </li>
      </ul>
  </li>

</ul>
