<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
          <li class="level1"><a href="/sport/sportarten">Sportarten</a></li>
          <li class="level2"><a href="/sport/sportarten/fussball">Fußball</a></li>
          <li class="level2"><a href="/sport/sportarten/handball">Handball</a></li>
          <li class="level2"><a href="/sport/sportarten/basketball">Basketball</a></li>
          <li class="level2"><a href="/sport/sportarten/volleyball">Volleyball</a></li>
          <li class="level2"><a href="/sport/sportarten/beachvolleyball">Beachvolleyball</a></li>
          <li class="level2"><a href="/sport/sportarten/football">Football</a></li>
          <li class="linepart"><hr></li>
          <li class="level2"><a href="/sport/sportarten/badminton">Badminton </a></li>
          <li class="level2"><a href="/sport/sportarten/speedminton">Speedminton</a></li>
          <li class="level2"><a href="/sport/sportarten/tennis">Tennis</a></li>
          <li class="level2"><a href="/sport/sportarten/tischtennis">Tischtennis</a></li>
          <li class="level2"><a href="/sport/sportarten/freizeitspiele">Frisbee</a></li>
          <li class="level2"><a href="/sport/heimsport/yoga-gymnastik">Yoga &amp; Gymnastik</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">&#160;</li>
        <li class="level2"><a href="/sport/sportarten/running-ausruestung">Running</a></li>
        <li class="level2"><a href="/sport/sportarten/nordic-walking">Nordic Walking</a></li>
        <li class="level2"><a href="/sport/sportarten/wandern">Wandern</a></li>
        <li class="level2"><a href="/sport/sportarten/wassersport">Wassersport</a></li>
        <li class="level2"><a href="/sport/sportarten/inlineskating">Inlineskating</a></li>
        <li class="level2"><a href="/sport/sportarten/kraft-fitness">Kraft &amp; Fitness</a></li>
        <li class="level2"><a href="/sport/sportarten/boxen">Boxen</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/sportarten/wintersport/alpinski">Alpinski</a></li>
        <li class="level2"><a href="/sport/sportarten/wintersport/langlauf">Langlauf</a></li>
        <li class="level2"><a href="/sport/sportarten/wintersport/snowboard">Snowboard</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/ausruestung">Ausrüstung</a></li>
        <li class="level2"><a href="/sport/ausruestung/brillen">Brillen</a></li>
        <li class="level2"><a href="/sport/ausruestung/taschen">Taschen</a></li>
        <li class="level2"><a href="/sport/ausruestung/trinkflaschen">Trinkflaschen</a></li>
        <li class="level2"><a href="/sport/ausruestung/baelle">Bälle</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlaeger">Schläger</a></li>
        <li class="level2"><a href="/sport/ausruestung/schwimmausruestung">Schwimmausrüstung</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/campingzubehoer">Campingzubehör</a></li>
        <li class="level2"><a href="/sport/ausruestung/zelte">Zelte</a></li>
        <li class="level2"><a href="/sport/ausruestung/matten-matratzen">Matten &amp; Matratzen</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlafsaecke">Schlafsäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/rucksaecke">Rucksäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/pflege">Pflege</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">&#160;</li>
        <li class="level2"><a href="/sport/ausruestung/boards-roller">Boards &amp; Roller</a></li>
        <li class="level2"><a href="/sport/ausruestung/protektoren">Protektoren</a></li>
        <li class="level2"><a href="/sport/ausruestung/helme">Helme</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/fitnessausruestung">Fitnessausrüstung</a></li>
        <li class="level2"><a href="/sport/ausruestung/uhren-tracker">Uhren &amp; Tracker</a></li>
        <li class="level2"><a href="/sport/ausruestung/fitnessgrossgeraete">Fitnessgro&szlig;geräte</a></li>
        <li class="level2"><a href="/sport/ausruestung/boxausruestung">Boxausrüstung</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/skier">Ski</a></li>
        <li class="level2"><a href="/sport/ausruestung/skistiefel">Skistiefel</a></li>
        <li class="level2"><a href="/sport/ausruestung/brillen/ski-snowboardbrillen">Skibrillen</a></li>
        <li class="level2"><a href="/sport/ausruestung/helme/ski-snowboardhelme">Skihelme</a></li>
        <li class="level2"><a href="/sport/ausruestung/handschuhe/skihandschuhe">Skihandschuhe</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlittschuhe">Schlittschuhe</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">
          <div class="li-bannerwerbung-oben">
            <div class="bild-wrapper-oben">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/text-menu-image-outdoor.jpg" style="position:relative;top:0px;">
          </div>
            <p>Die neue Outdoor-Kollektion</p>
          </div>
          <div class="li-bannerwerbung-unten">
            <div class="bild-wrapper-unten">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/text-menu-image-bade.jpg" style="position:relative;top:-40px;">
          </div>
            <p>Die Saison geht baden.</p>
          </div>
        </li>

      </ul>
  </li>
</ul>
