<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
    <div class="col-9">
      <ul class="megamenu-unterteilung">
        <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/ausruestung">Ausrüstung</a></li>
        <li class="level2"><a href="/sport/ausruestung/baelle">Bälle</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlaeger">Schläger</a></li>
        <li class="level2"><a href="/sport/ausruestung/brillen">Brillen</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/campingzubehoer">Campingzubehör</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlafsaecke">Schlafsäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/matten-matratzen">Matten &amp; Matratzen</a></li>
        <li class="level2"><a href="/sport/ausruestung/zelte">Zelte</a></li>
        <li class="level2"><a href="/sport/ausruestung/rucksaecke">Rucksäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/pflege">Pflege</a></li>
      </ul>
    </li>
    <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/ausruestung">Ausrüstung</a></li>
        <li class="level2"><a href="/sport/ausruestung/baelle">Bälle</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlaeger">Schläger</a></li>
        <li class="level2"><a href="/sport/ausruestung/brillen">Brillen</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/campingzubehoer">Campingzubehör</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlafsaecke">Schlafsäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/matten-matratzen">Matten &amp; Matratzen</a></li>
        <li class="level2"><a href="/sport/ausruestung/zelte">Zelte</a></li>
        <li class="level2"><a href="/sport/ausruestung/rucksaecke">Rucksäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/pflege">Pflege</a></li>
      </ul>
    </li>
    <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/ausruestung">Ausrüstung</a></li>
        <li class="level2"><a href="/sport/ausruestung/baelle">Bälle</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlaeger">Schläger</a></li>
        <li class="level2"><a href="/sport/ausruestung/brillen">Brillen</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/campingzubehoer">Campingzubehör</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlafsaecke">Schlafsäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/matten-matratzen">Matten &amp; Matratzen</a></li>
        <li class="level2"><a href="/sport/ausruestung/zelte">Zelte</a></li>
        <li class="level2"><a href="/sport/ausruestung/rucksaecke">Rucksäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/pflege">Pflege</a></li>
      </ul>
    </li>
    <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/ausruestung">Ausrüstung</a></li>
        <li class="level2"><a href="/sport/ausruestung/baelle">Bälle</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlaeger">Schläger</a></li>
        <li class="level2"><a href="/sport/ausruestung/brillen">Brillen</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/campingzubehoer">Campingzubehör</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlafsaecke">Schlafsäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/matten-matratzen">Matten &amp; Matratzen</a></li>
        <li class="level2"><a href="/sport/ausruestung/zelte">Zelte</a></li>
        <li class="level2"><a href="/sport/ausruestung/rucksaecke">Rucksäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/pflege">Pflege</a></li>
      </ul>
    </li>
    </ul>
    </div>
    <div class="col-3">
      <p>leerer Bereich</p>
    </div>
  </li>
</ul>
