<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/kleidung/damen">Damen</a></li>
        <li class="level2"><a href="/kleidung/damen/jacken">Jacken</a></li>
        <li class="level2"><a href="/kleidung/damen/pullover-sweats">Pullover &amp; Sweats</a></li>
        <li class="level2"><a href="/kleidung/damen/shirts-blusen">Shirts &amp; Blusen</a></li>
        <li class="level2"><a href="/kleidung/damen/hosen">Hosen</a></li>
        <li class="level2"><a href="/kleidung/damen/kleider-roecke">Kleider &amp; R&ouml;cke</a></li>
        <li class="level2"><a href="/kleidung/damen/schuhe">Schuhe</a></li>
        <li class="level2"><a href="/kleidung/damen/bademode">Bademode</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/kleidung/damen/accessoires">Accessoires</a></li>
        <li class="level2"><a href="/kleidung/damen/socken">Socken</a></li>
        <li class="level2"><a href="/kleidung/damen/waesche">W&auml;sche</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/kleidung/herren">Herren</a></li>
        <li class="level2"><a href="/kleidung/herren/jacken">Jacken</a></li>
        <li class="level2"><a href="/kleidung/herren/pullover-sweats">Pullover &amp; Sweats</a></li>
        <li class="level2"><a href="/kleidung/herren/shirts-hemden">Shirts &amp; Hemden</a></li>
        <li class="level2"><a href="/kleidung/herren/hosen">Hosen</a></li>
        <li class="level2"><a href="/kleidung/herren/schuhe">Schuhe</a></li>
        <li class="level2"><a href="/kleidung/herren/bademode">Bademode</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/kleidung/herren/accessoires">Accessoires</a></li>
        <li class="level2"><a href="/kleidung/herren/socken">Socken</a></li>
        <li class="level2"><a href="/kleidung/herren/waesche">W&auml;sche</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/kleidung/maedchen">M&auml;dchen</a></li>
        <li class="level2"><a href="/kleidung/maedchen/jacken">Jacken</a></li>
        <li class="level2"><a href="/kleidung/maedchen/pullover-sweats">Pullover &amp; Sweats</a></li>
        <li class="level2"><a href="/kleidung/maedchen/shirts-hemden">Shirts</a></li>
        <li class="level2"><a href="/kleidung/maedchen/anzuege-sets">Anz&uuml;ge &amp; Sets</a></li>
        <li class="level2"><a href="/kleidung/maedchen/hosen">Hosen</a></li>
        <li class="level2"><a href="/kleidung/maedchen/schuhe">Schuhe</a></li>
        <li class="level2"><a href="/kleidung/maedchen/bademode">Bademode</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/kleidung/maedchen/accessoires">Accessoires</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
          <li class="level1"><a href="/kleidung/jungen">Jungen</a></li>
          <li class="level2"><a href="/kleidung/jungen/jacken">Jacken</a></li>
          <li class="level2"><a href="/kleidung/jungen/pullover-sweats">Pullover &amp; Sweats</a></li>
          <li class="level2"><a href="/kleidung/jungen/shirts-hemden">Shirts</a></li>
          <li class="level2"><a href="/kleidung/jungen/anzuege-sets">Anz&uuml;ge &amp; Sets</a></li>
          <li class="level2"><a href="/kleidung/jungen/hosen">Hosen</a></li>
          <li class="level2"><a href="/kleidungjungen/schuhe">Schuhe</a></li>
          <li class="level2"><a href="/kleidung/jungen/bademode">Bademode</a></li>
          <li class="linepart"><hr></li>
          <li class="level2"><a href="/kleidung/jungen/accessoires">Accessoires</a></li>
        </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">
          <div class="li-bannerwerbung-oben">
            <div class="bild-wrapper-oben">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/urban_style_test.jpg" style="position:relative;top:0px;">
          </div>
            <p>Urban Summer Style</p>
          </div>
          <div class="li-bannerwerbung-unten">
            <div class="bild-wrapper-unten">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/kleidung_fitness_frau.jpg" style="position:relative;top:-40px;">
          </div>
            <p>Beliebte Freizeit Basics</p>
          </div>
        </li>

      </ul>
  </li>
</ul>
