<ul data-level="1" id="navDropdown0" class="collapse">
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1"><a href="/sport/ausruestung">Ausrüstung</a></li>
        <li class="level2"><a href="/sport/ausruestung/baelle">Bälle</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlaeger">Schläger</a></li>
        <li class="level2"><a href="/sport/ausruestung/brillen">Brillen</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/campingzubehoer">Campingzubehör</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlafsaecke">Schlafsäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/matten-matratzen">Matten &amp; Matratzen</a></li>
        <li class="level2"><a href="/sport/ausruestung/zelte">Zelte</a></li>
        <li class="level2"><a href="/sport/ausruestung/rucksaecke">Rucksäcke</a></li>
        <li class="level2"><a href="/sport/ausruestung/pflege">Pflege</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level2"><a href="/sport/ausruestung/handschuhe">Handschuhe</a></li>
        <li class="level2"><a href="/sport/ausruestung/boards-roller">Boards &amp; Roller</a></li>
        <li class="level2"><a href="/sport/ausruestung/helme">Helme</a></li>
        <li class="level2"><a href="/sport/ausruestung/schwimmausruestung">Schwimmausrüstung</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/skier">Skier</a></li>
        <li class="level2"><a href="/sport/ausruestung/skibindungen">Skibindungen</a></li>
        <li class="level2"><a href="/sport/ausruestung/skistiefel">Skistiefel</a></li>
        <li class="level2"><a href="/sport/ausruestung/langlaufschuhe">Langlaufschuhe</a></li>
        <li class="level2"><a href="/sport/ausruestung/schlittschuhe">Schlittschuhe</a></li>
        <li class="linepart"><hr></li>
        <li class="level2"><a href="/sport/ausruestung/trinkflaschen">Trinkflaschen</a></li>
        <li class="level2"><a href="/sport/ausruestung/taschen">Taschen</a></li>

      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
          <li class="level1"><a href="/sport/freizeitsport">Sportarten</a></li>
          <li class="level2"><a href="/sport/heimsport/yoga-gymnastik">Yoga &amp; Gymnastik</a></li>
          <li class="level2"><a href="/sport/freizeitsport/badminton">Badminton </a></li>
          <li class="level2"><a href="/sport/freizeitsport/basketball">Basketball</a></li>
          <li class="level2"><a href="/sport/freizeitsport/beachvolleyball">Beachvolleyball</a></li>
          <li class="level2"><a href="/sport/freizeitsport/football">Football</a></li>
          <li class="level2"><a href="/sport/freizeitsport/fussball">Fußball</a></li>
          <li class="level2"><a href="/sport/freizeitsport/handball">Handball</a></li>
          <li class="level2"><a href="/sport/freizeitsport/inlineskating">Inlineskating</a></li>
          <li class="level2"><a href="/sport/freizeitsport/nordic-walking">Nordic Walking</a></li>
          <li class="level2"><a href="/sport/freizeitsport/running-ausruestung">Running</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
          <li class="level2"><a href="/sport/freizeitsport/speedminton">Speedminton</a></li>
          <li class="level2"><a href="/sport/freizeitsport/freizeitspiele">Frisbee</a></li>
          <li class="level2"><a href="/sport/freizeitsport/tischtennis">Tischtennis</a></li>
          <li class="level2"><a href="/sport/freizeitsport/tennis">Tennis</a></li>
          <li class="level2"><a href="/sport/freizeitsport/volleyball">Volleyball</a></li>
          <li class="level2"><a href="/sport/freizeitsport/wandern">Wandern</a></li>
          <li class="level2"><a href="/sport/freizeitsport/wassersport">Wassersport</a></li>
          <li class="level2"><a href="/sport/freizeitsport/wintersport">Wintersport</a></li>
          <li class="level1"><a href="/sport/heimsport">Heimsport</a></li>
          <li class="level2"><a href="/sport/heimsport/crosstrainer">Crosstrainer</a></li>
          <li class="level2"><a href="/sport/heimsport/ergometer">Ergometer</a></li>
          <li class="level2"><a href="/sport/heimsport/faszientraining">Faszientraining</a></li>
          <li class="level2"><a href="/sport/heimsport/heimtrainer">Heimtrainer</a></li>
          <li class="level2"><a href="/sport/heimsport/kraft-fitness">Kraft &amp; Fitness</a></li>
          <li class="level2"><a href="/sport/heimsport/trampoline">Trampoline</a></li>
      </ul>
  </li>
  <li>
      <ul class="nav-dropdown-inner">
        <li class="level1">
          <div class="li-bannerwerbung-oben">
            <div class="bild-wrapper-oben">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/text-menu-image-outdoor.jpg" style="position:relative;top:0px;">
          </div>
            <p>Die neue Outdoor-Kollektion</p>
          </div>
          <div class="li-bannerwerbung-unten">
            <div class="bild-wrapper-unten">
            <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Menu-Banner/text-menu-image-bade.jpg" style="position:relative;top:-40px;">
          </div>
            <p>Die Saison geht baden.</p>
          </div>
        </li>

      </ul>
  </li>
</ul>
