<ul class="mainmenu hidden-md-down">
  <li class="ddown mainddown font-weight-light ml-5 mr-5"  v-navigation-touch-handler>
    <a @touchstart.stop href="/themenwelten/fahrrad"><span class="fa fa-shopping-cart mr-2"></span>Fahrr&auml;der &amp; Zubeh&ouml;r </a>
    <span data-toggle="collapse" href="#navDropdown1" aria-expanded="false" class="d-lg-none nav-direction">
    <i aria-hidden="true" class="fa fa-caret-down"></i>
    </span>
    {% include "CeresCoconut::PageDesign.Partials.Header.MegamenuPart2" %}
  </li>
  <li class="ddown mainddown font-weight-light ml-5 mr-5"  v-navigation-touch-handler>
    <a @touchstart.stop href="/filialen/service/serviceuebersicht">
      <img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/store-f0f0f0-icon.svg" class="mr-2 mb-1" style="max-height:15px;">Filialen &amp; Services</a>
    <span data-toggle="collapse" href="#navDropdown2" aria-expanded="false" class="d-lg-none nav-direction">
      <i aria-hidden="true" class="fa fa-caret-down"></i>
    </span>
    {% include "CeresCoconut::PageDesign.Partials.Header.MegamenuPart4" %}
  </li>
</ul>
