<ul class="mainmenu float-lg-right">
  <li class="ddown mainddown font-weight-light ml-5 mr-5">
    <a v-on:touchstart.stop href="/sport">Sport &amp; Ausr&uuml;stung</a>
    <span data-toggle="collapse" href="#navDropdown0" aria-expanded="false" class="d-lg-none nav-direction">
    <i aria-hidden="true" class="fa fa-caret-down"></i>
    </span>
    {% include "CeresCoconut::PageDesign.Partials.Header.MegamenuPart1" %}
  </li>
  <li class="ddown mainddown font-weight-light ml-5 mr-5">
    <a href="/sport">Fahrr&auml;der &amp; Zubeh&ouml;r</a>
    <span data-toggle="collapse" href="#navDropdown0" aria-expanded="false" class="d-lg-none nav-direction">
    <i aria-hidden="true" class="fa fa-caret-down"></i>
    </span>
    {% include "CeresCoconut::PageDesign.Partials.Header.MegamenuPart2" %}
  </li>
  <li class="ddown mainddown font-weight-light ml-5 mr-5">
    <a href="/sport">Kleidung &amp; Schuhe</a>
    <span data-toggle="collapse" href="#navDropdown0" aria-expanded="false" class="d-lg-none nav-direction">
      <i aria-hidden="true" class="fa fa-caret-down"></i>
    </span>
    {% include "CeresCoconut::PageDesign.Partials.Header.MegamenuPart3" %}
  </li>
</ul>
